.breadcrumb {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 5px;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-item a {
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}


.breadcrumb-item::after {
    content: ">";
    margin: 0 8px;
    color: #333;
}

.breadcrumb-item:last-child::after {
    content: "";
}

.breadcrumb-item.active {
    color: #333;
    pointer-events: none;
}
