
.compareProduct {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #ced4da;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.body {
  background: rgba(0, 0, 0, 0);
  flex-shrink: 0;
  width: 1440px;
  height: 1661px;
  position: relative;
}
.div {
  background: #ffffff;
  width: 1440px;
  height: 909px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.main {
  background: rgba(0, 0, 0, 0);
  width: 1280px;
  height: 909px;
  position: absolute;
  left: 80px;
  top: 0px;
}
.div2 {
  background: rgba(0, 0, 0, 0);
  width: 1382.15px;
  height: 26.98px;
  position: absolute;
  left: 94px;
  top: 211px;
}
.nav {
  background: rgba(0, 0, 0, 0);
  width: 1374.12px;
  height: 26.43px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ol {
  background: rgba(0, 0, 0, 0);
  width: 160.84px;
  height: 26.43px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.li {
  background: rgba(0, 0, 0, 0);
  width: 49.36px;
  height: 26.43px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.home {
  color: #6b7280;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.616884231567383px;
  line-height: 17.62px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2.2px;
  width: 49.55px;
  height: 22.02px;
}
.li2 {
  background: rgba(0, 0, 0, 0);
  width: 98.27px;
  height: 26.43px;
  position: absolute;
  left: 62.57px;
  top: 0px;
}
.frame {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 8.26px;
  height: 13.21px;
  position: absolute;
  left: 8.81px;
  top: 6.61px;
  overflow: hidden;
}
.frame2 {
  flex-shrink: 0;
  width: 8.26px;
  height: 13.21px;
  position: relative;
  overflow: visible;
}
.compare {
  color: #6b7280;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.616884231567383px;
  line-height: 17.62px;
  font-weight: 400;
  position: absolute;
  left: 25.43px;
  top: 2px;
  width: 85px;
  height: 22px;
}
.header {
  background: rgba(255, 255, 255, 0.95);
  border-style: solid;
  border-color: #e5e7eb;
  border-width: 0px 0px 1.05px 0px;
  width: 1511.07px;
  height: 85px;
  position: absolute;
  left: -71px;
  top: 0px;
}
.div3 {
  background: rgba(0, 0, 0, 0);
  padding: 0px 16.79px 0px 16.79px;
  display: flex;
  flex-direction: column;
  gap: 10.49px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1343.17px;
  position: absolute;
  left: 83.95px;
  top: 0px;
}
.div4 {
  background: rgba(0, 0, 0, 0);
  padding: 23.09px 0px 23.09px 0px;
  display: flex;
  flex-direction: row;
  gap: 275.98px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div5 {
  flex-shrink: 0;
  width: 115.86px;
  height: 33.58px;
  position: relative;
  overflow: visible;
}
.depth4Frame0 {
  padding: 10.49px 0px 10.49px 0px;
  display: flex;
  flex-direction: row;
  gap: 50.37px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.depth5Frame0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home2 {
  flex-shrink: 0;
  width: 40.38px;
  height: 11px;
  position: relative;
  overflow: visible;
}
.depth5Frame1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.products {
  flex-shrink: 0;
  width: 64.82px;
  height: 11.64px;
  position: relative;
  overflow: visible;
}
.depth5Frame2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.sales {
  flex-shrink: 0;
  width: 38.01px;
  height: 11.64px;
  position: relative;
  overflow: visible;
}
.depth5Frame4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.skinQuiz {
  flex-shrink: 0;
  width: 58.68px;
  height: 14.06px;
  position: relative;
  overflow: visible;
}
.depth5Frame3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.blogs {
  flex-shrink: 0;
  width: 37.78px;
  height: 14.82px;
  position: relative;
  overflow: visible;
}
.depth5Frame5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about {
  flex-shrink: 0;
  width: 42.99px;
  height: 11.64px;
  position: relative;
  overflow: visible;
}
.div6 {
  background: rgba(0, 0, 0, 0);
  flex-shrink: 0;
  width: 108.08px;
  height: 20.99px;
  position: relative;
}
.div7 {
  background: rgba(0, 0, 0, 0);
  width: 18.36px;
  height: 20.99px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame3 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 18.36px;
  height: 20.99px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.frame4 {
  flex-shrink: 0;
  width: 18.36px;
  height: 20.99px;
  position: relative;
  overflow: visible;
}
.div8 {
  background: rgba(0, 0, 0, 0);
  width: 20.99px;
  height: 20.99px;
  position: absolute;
  left: 43.55px;
  top: 0px;
}
.frame5 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 20.99px;
  height: 20.99px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.frame6 {
  flex-shrink: 0;
  width: 20.99px;
  height: 20.99px;
  position: relative;
  overflow: visible;
}
.div9 {
  background: rgba(0, 0, 0, 0);
  width: 18.36px;
  height: 20.99px;
  position: absolute;
  left: 89.72px;
  top: 0px;
}
.frame7 {
  flex-shrink: 0;
  width: 18.36px;
  height: 20.99px;
  position: relative;
  overflow: visible;
}
.footer {
  background: #ecfdf5;
  padding: 84.04px;
  display: flex;
  flex-direction: column;
  gap: 9.13px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 1214px;
}
.div10 {
  background: rgba(0, 0, 0, 0);
  padding: 0px 16.82px 0px 16.82px;
  display: flex;
  flex-direction: column;
  gap: 50.47px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1345.93px;
  position: relative;
}
.div11 {
  background: rgba(0, 0, 0, 0);
  align-self: stretch;
  flex-shrink: 0;
  height: 168.24px;
  position: relative;
}
.div12 {
  background: rgba(0, 0, 0, 0);
  width: 302.83px;
  height: 168.24px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.yourJourneyToHealthyGlowingSkinStartsHere {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16.82410430908203px;
  line-height: 16.82px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 65.19px;
  width: 291.27px;
  height: 21.03px;
}
.logo11 {
  width: 262.88px;
  height: 86.22px;
  position: absolute;
  left: 0px;
  top: -21.03px;
  overflow: visible;
  object-fit: cover;
}
.div13 {
  background: rgba(75, 85, 99, 0);
  width: 302.83px;
  height: 168.24px;
  position: absolute;
  left: 336.48px;
  top: 0px;
}
.shop {
  color: #010101;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16.82410430908203px;
  line-height: 16.82px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 2.1px;
  width: 42.06px;
  height: 21.03px;
}
.ul {
  background: rgba(0, 0, 0, 0);
  width: 302.83px;
  height: 126.18px;
  position: absolute;
  left: 0px;
  top: 42.06px;
}
.li3 {
  background: rgba(0, 0, 0, 0);
  width: 302.83px;
  height: 25.24px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.allProducts {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16.82410430908203px;
  line-height: 16.82px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2.1px;
  width: 95.69px;
  height: 21.03px;
}
.li4 {
  background: rgba(0, 0, 0, 0);
  width: 302.83px;
  height: 25.24px;
  position: absolute;
  left: 0px;
  top: 33.65px;
}
.bestsellers {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16.82410430908203px;
  line-height: 16.82px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2.1px;
  width: 87.28px;
  height: 21.03px;
}
.li5 {
  background: rgba(0, 0, 0, 0);
  width: 302.83px;
  height: 25.24px;
  position: absolute;
  left: 0px;
  top: 67.3px;
}
.newArrivals {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16.82410430908203px;
  line-height: 16.82px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2.1px;
  width: 100.94px;
  height: 21.03px;
}
.li6 {
  background: rgba(0, 0, 0, 0);
  width: 302.83px;
  height: 25.24px;
  position: absolute;
  left: 0px;
  top: 100.94px;
}
.giftSets {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16.82410430908203px;
  line-height: 16.82px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2.1px;
  width: 69.4px;
  height: 21.03px;
}
.div14 {
  background: rgba(0, 0, 0, 0);
  width: 302.83px;
  height: 168.24px;
  position: absolute;
  left: 672.96px;
  top: 0px;
}
.help {
  color: #010101;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16.82410430908203px;
  line-height: 16.82px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 2.1px;
  width: 37.85px;
  height: 21.03px;
}
.ul2 {
  background: rgba(75, 85, 99, 0);
  width: 302.83px;
  height: 126.18px;
  position: absolute;
  left: 0px;
  top: 42.06px;
}
.contactUs {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16.82410430908203px;
  line-height: 16.82px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2.1px;
  width: 89.38px;
  height: 21.03px;
}
.shipping {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16.82410430908203px;
  line-height: 16.82px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2.1px;
  width: 69.4px;
  height: 21.03px;
}
.returns {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16.82410430908203px;
  line-height: 16.82px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2.1px;
  width: 62.04px;
  height: 21.03px;
}
.faq {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16.82410430908203px;
  line-height: 16.82px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2.1px;
  width: 32.6px;
  height: 21.03px;
}
.div15 {
  background: rgba(0, 0, 0, 0);
  width: 302.83px;
  height: 168.24px;
  position: absolute;
  left: 1009.45px;
  top: 0px;
}
.followUs {
  color: #010101;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16.82410430908203px;
  line-height: 16.82px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 2.1px;
  width: 78.86px;
  height: 21.03px;
}
.div16 {
  background: rgba(0, 0, 0, 0);
  width: 302.83px;
  height: 21.03px;
  position: absolute;
  left: 0px;
  top: 42.06px;
}
.div17 {
  background: rgba(0, 0, 0, 0);
  width: 18.4px;
  height: 21.03px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame8 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 18.4px;
  height: 21.03px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.frame9 {
  flex-shrink: 0;
  width: 18.4px;
  height: 21.03px;
  position: relative;
  overflow: visible;
}
.div18 {
  background: rgba(0, 0, 0, 0);
  width: 21.03px;
  height: 21.03px;
  position: absolute;
  left: 35.23px;
  top: 0px;
}
.frame10 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 21.03px;
  height: 21.03px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.frame11 {
  flex-shrink: 0;
  width: 21.03px;
  height: 21.03px;
  position: relative;
  overflow: visible;
}
.div19 {
  background: rgba(0, 0, 0, 0);
  width: 21.03px;
  height: 21.03px;
  position: absolute;
  left: 73.08px;
  top: 0px;
}
.frame12 {
  flex-shrink: 0;
  width: 21.03px;
  height: 21.03px;
  position: relative;
  overflow: visible;
}
.div20 {
  background: rgba(0, 0, 0, 0);
  width: 20.37px;
  height: 21.03px;
  position: absolute;
  left: 110.93px;
  top: 0px;
}
.frame13 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 20.37px;
  height: 21.03px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.frame14 {
  flex-shrink: 0;
  width: 20.37px;
  height: 21.03px;
  position: relative;
  overflow: visible;
}
.div21 {
  background: rgba(0, 0, 0, 0);
  border-style: solid;
  border-color: #1f2937;
  border-width: 1.05px 0px 0px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 59.94px;
  position: relative;
}
.div22 {
  background: rgba(0, 0, 0, 0);
  width: 1312.28px;
  height: 25.24px;
  position: absolute;
  left: 0px;
  top: 34.7px;
}
.two025CareSkinAllRightsReserved {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16.82410430908203px;
  line-height: 16.82px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2.1px;
  width: 298.63px;
  height: 21.03px;
}
.div23 {
  background: rgba(0, 0, 0, 0);
  width: 271.98px;
  height: 25.24px;
  position: absolute;
  left: 1040.3px;
  top: 0px;
}
.privacyPolicy {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16.82410430908203px;
  line-height: 16.82px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2.1px;
  width: 110.41px;
  height: 21.03px;
}
.termsOfService {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16.82410430908203px;
  line-height: 16.82px;
  font-weight: 400;
  position: absolute;
  left: 136.48px;
  top: 2.1px;
  width: 134.59px;
  height: 21.03px;
}
.div24 {
  background: rgba(0, 0, 0, 0);
  padding: 48px 16px 48px 16px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: flex-start;
  width: 1280px;
  position: absolute;
  left: 51px;
  top: 140px;
}
.div25 {
  background: rgba(0, 0, 0, 0);
  align-self: stretch;
  flex-shrink: 0;
  height: 490px;
  position: relative;
}
.div26 {
  background: #ffffff;
  border-radius: 9.09px;
  border-style: solid;
  border-color: #e5e7eb;
  border-width: 0.76px;
  width: 416.33px;
  height: 391.3px;
  position: absolute;
  left: 165px;
  top: 131px;
}
.div27 {
  background: rgba(0, 0, 0, 0);
  width: 356.87px;
  height: 227.14px;
  position: absolute;
  left: 18.93px;
  top: 18.93px;
}
.img {
  border-radius: 6.06px;
  width: 356.87px;
  height: 227.14px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.span {
  background: #ffe4e6;
  border-radius: 7570.67px;
  width: 71.62px;
  height: 21.2px;
  position: absolute;
  left: 276.17px;
  top: 9.09px;
}
.bestSeller {
  color: #e11d48;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10.600000381469727px;
  font-weight: 400;
  position: absolute;
  left: 9.09px;
  top: 3.79px;
  width: 53.76px;
  height: 12.87px;
}
.div28 {
  background: rgba(0, 0, 0, 0);
  width: 356.87px;
  height: 93.89px;
  position: absolute;
  left: 18.93px;
  top: 258.19px;
}
.hydratingFaceCream {
  color: #111827;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 13.628571510314941px;
  line-height: 13.63px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 2.27px;
  width: 146.89px;
  height: 15.9px;
}
.advancedMoistureComplex {
  color: #6b7280;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10.600000381469727px;
  line-height: 10.6px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 24.99px;
  width: 144.61px;
  height: 12.87px;
}
.div29 {
  background: rgba(0, 0, 0, 0);
  width: 356.87px;
  height: 15.14px;
  position: absolute;
  left: 0px;
  top: 45.43px;
}
.div30 {
  background: rgba(0, 0, 0, 0);
  width: 68.14px;
  height: 12.11px;
  position: absolute;
  left: 0px;
  top: 1.51px;
}
.frame15 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 13.63px;
  height: 12.11px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.frame16 {
  flex-shrink: 0;
  width: 13.63px;
  height: 12.11px;
  position: relative;
  overflow: visible;
}
.frame17 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 13.63px;
  height: 12.11px;
  position: absolute;
  left: 13.63px;
  top: 0px;
  overflow: hidden;
}
.frame18 {
  flex-shrink: 0;
  width: 13.63px;
  height: 12.11px;
  position: relative;
  overflow: visible;
}
.frame19 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 13.63px;
  height: 12.11px;
  position: absolute;
  left: 27.26px;
  top: 0px;
  overflow: hidden;
}
.frame20 {
  flex-shrink: 0;
  width: 13.63px;
  height: 12.11px;
  position: relative;
  overflow: visible;
}
.frame21 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 13.63px;
  height: 12.11px;
  position: absolute;
  left: 40.89px;
  top: 0px;
  overflow: hidden;
}
.frame22 {
  flex-shrink: 0;
  width: 13.63px;
  height: 12.11px;
  position: relative;
  overflow: visible;
}
.frame23 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 13.63px;
  height: 12.11px;
  position: absolute;
  left: 54.51px;
  top: 0px;
  overflow: hidden;
}
.frame24 {
  flex-shrink: 0;
  width: 13.63px;
  height: 12.11px;
  position: relative;
  overflow: visible;
}
.one28 {
  color: #6b7280;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10.600000381469727px;
  line-height: 10.6px;
  font-weight: 400;
  position: absolute;
  left: 74.2px;
  top: 0.76px;
  width: 25.74px;
  height: 12.87px;
}
.four999 {
  color: #111827;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18.171428680419922px;
  line-height: 18.17px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 70.41px;
  width: 65.11px;
  height: 21.96px;
}
.div31 {
  background: #ffffff;
  border-radius: 9.58px;
  border-style: solid;
  border-color: #e5e7eb;
  border-width: 0.8px;
  width: 416.33px;
  height: 391.3px;
  position: absolute;
  left: 671px;
  top: 131px;
}
.div32 {
  background: rgba(0, 0, 0, 0);
  width: 376.4px;
  height: 239.57px;
  position: absolute;
  left: 19.96px;
  top: 19.96px;
}
.img2 {
  border-radius: 6.39px;
  width: 376.4px;
  height: 239.57px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.span2 {
  background: #dbeafe;
  border-radius: 7984.87px;
  width: 43.06px;
  height: 22.36px;
  position: absolute;
  left: 323.76px;
  top: 9.58px;
}
.new {
  color: #2563eb;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11.179940223693848px;
  font-weight: 400;
  position: absolute;
  left: 9.58px;
  top: 3.99px;
  width: 24.76px;
  height: 13.58px;
}
.div33 {
  background: rgba(0, 0, 0, 0);
  width: 376.4px;
  height: 99.02px;
  position: absolute;
  left: 19.96px;
  top: 272.31px;
}
.vitaminCSerum {
  color: #111827;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14.3742094039917px;
  line-height: 14.37px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 2.4px;
  width: 116.59px;
  height: 16.77px;
}
.brighteningFormula {
  color: #6b7280;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11.179940223693848px;
  line-height: 11.18px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 26.35px;
  width: 106.21px;
  height: 13.58px;
}
.div34 {
  background: rgba(0, 0, 0, 0);
  width: 376.4px;
  height: 15.97px;
  position: absolute;
  left: 0px;
  top: 47.91px;
}
.div35 {
  background: rgba(0, 0, 0, 0);
  width: 73.47px;
  height: 12.78px;
  position: absolute;
  left: 0px;
  top: 1.6px;
}
.frame25 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 14.37px;
  height: 12.78px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.frame26 {
  flex-shrink: 0;
  width: 14.37px;
  height: 12.78px;
  position: relative;
  overflow: visible;
}
.frame27 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 14.37px;
  height: 12.78px;
  position: absolute;
  left: 14.37px;
  top: 0px;
  overflow: hidden;
}
.frame28 {
  flex-shrink: 0;
  width: 14.37px;
  height: 12.78px;
  position: relative;
  overflow: visible;
}
.frame29 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 14.37px;
  height: 12.78px;
  position: absolute;
  left: 28.75px;
  top: 0px;
  overflow: hidden;
}
.frame30 {
  flex-shrink: 0;
  width: 14.37px;
  height: 12.78px;
  position: relative;
  overflow: visible;
}
.frame31 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 14.37px;
  height: 12.78px;
  position: absolute;
  left: 43.12px;
  top: 0px;
  overflow: hidden;
}
.frame32 {
  flex-shrink: 0;
  width: 14.37px;
  height: 12.78px;
  position: relative;
  overflow: visible;
}
.frame33 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 15.97px;
  height: 12.78px;
  position: absolute;
  left: 57.5px;
  top: 0px;
  overflow: hidden;
}
.frame34 {
  flex-shrink: 0;
  width: 15.97px;
  height: 12.78px;
  position: relative;
  overflow: visible;
}
.nine6 {
  color: #6b7280;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11.179940223693848px;
  line-height: 11.18px;
  font-weight: 400;
  position: absolute;
  left: 79.86px;
  top: 0.8px;
  width: 22.36px;
  height: 13.58px;
}
.five999 {
  color: #111827;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 19.165611267089844px;
  line-height: 19.17px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 74.27px;
  width: 67.88px;
  height: 23.16px;
}
.div36 {
  background: #ffffff;
  border-radius: 12px;
  border-style: solid;
  border-color: #e5e7eb;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 928px;
  height: 321px;
  position: relative;
  overflow: hidden;
}
.thead {
  background: #f9fafb;
  padding: 0px 186px 0px 186px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 928px;
  position: relative;
}
.tr {
  background: rgba(0, 0, 0, 0);
  padding: 0px 195px 0px 195px;
  flex-shrink: 0;
  width: 226px;
  height: 51px;
  position: relative;
}
.th {
  background: rgba(0, 0, 0, 0);
  padding: 17px 170px 17px 170px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 23px;
  position: absolute;
  left: 51px;
  top: 0px;
}
.hydratingFaceCream2 {
  color: #111827;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  width: 151px;
  height: 17px;
}
.th2 {
  background: rgba(0, 0, 0, 0);
  padding: 17px 161px 17px 161px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 59px;
  position: relative;
}
.vitaminCSerum2 {
  color: #111827;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  width: 114px;
  height: 17px;
}
.table {
  background: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 934px;
  position: relative;
}
.tbody {
  background: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.tr2 {
  background: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.td {
  background: rgba(0, 0, 0, 0);
  flex-shrink: 0;
  width: 490.59px;
  height: 52.5px;
  position: relative;
}
.five0Ml {
  color: #4b5563;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 228.89px;
  top: 17px;
  width: 33px;
  height: 17px;
}
.td2 {
  background: rgba(0, 0, 0, 0);
  flex-shrink: 0;
  width: 436.59px;
  height: 52.5px;
  position: relative;
}
.three0Ml {
  color: #4b5563;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 201.72px;
  top: 17px;
  width: 34px;
  height: 17px;
}
.tr3 {
  background: rgba(0, 0, 0, 0);
  border-style: solid;
  border-color: #e5e7eb;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.td3 {
  background: rgba(0, 0, 0, 0);
  flex-shrink: 0;
  width: 490.59px;
  height: 53px;
  position: relative;
}
.allSkinTypes {
  color: #4b5563;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 198.89px;
  top: 17.5px;
  width: 92px;
  height: 17px;
}
.td4 {
  background: rgba(0, 0, 0, 0);
  flex-shrink: 0;
  width: 436.59px;
  height: 53px;
  position: relative;
}
.normalToOily {
  color: #4b5563;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 171.25px;
  top: 17.5px;
  width: 94px;
  height: 17px;
}
.hyaluronicAcidCeramides {
  color: #4b5563;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 153.42px;
  top: 17.5px;
  width: 183px;
  height: 17px;
}
.vitaminCFerulicAcid {
  color: #4b5563;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 143.59px;
  top: 17.5px;
  width: 149px;
  height: 17px;
}
.hydrationBarrierRepair {
  color: #4b5563;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 163.66px;
  top: 17.5px;
  width: 163px;
  height: 17px;
}
.brighteningAntioxidant {
  color: #4b5563;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 139.19px;
  top: 17.5px;
  width: 159px;
  height: 17px;
}
.amPm {
  color: #4b5563;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 220.81px;
  top: 17.5px;
  width: 49px;
  height: 17px;
}
.am {
  color: #4b5563;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 207.14px;
  top: 17.5px;
  width: 22px;
  height: 17px;
}
