@tailwind base;
@tailwind components;
@tailwind utilities;

html,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Inter', sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

.my-facebook-btn {
  background-color: #4267B2; /* Xanh Facebook */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  /* Tuỳ chỉnh thêm */
}

.my-facebook-btn:hover {
  background-color: #365899;
}


